<div class="page-container">
    <h1>Personal Details</h1>
    @if(!formSubmitted) {
        <form [formGroup]="form" (ngSubmit)="submit()">
            <mat-form-field>
                <mat-label>First Name</mat-label>
                <input matInput formControlName="firstName" />
            </mat-form-field>
            <mat-form-field>
                <mat-label>Last Name</mat-label>
                <input matInput formControlName="lastName" />
            </mat-form-field>
            <section>
                <h2>Address</h2>
                <app-address [addressForm]="form"></app-address>
            </section>
            
            <!-- <div class="radio-group" [ngClass]="{'error': form.controls['gender'].invalid && form.controls['gender'].touched}">
                <label>Gender*</label>
                <mat-radio-group formControlName="gender" required>
                    <mat-radio-button value="Male">Male</mat-radio-button>
                    <mat-radio-button value="Female">Female</mat-radio-button>
                </mat-radio-group>
            </div>
            <div>
                <app-address [addressForm]="form"></app-address>
            </div> -->
            <br /><br />
            <button mat-raised-button type="submit" color="primary">Submit</button>
        </form>
    }
    @else {
        <div>Form Submitted!</div>
    }
</div>