.radio-group {
    border: 1px solid #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 4px;
}

.radio-group.error {
    border-color: #F44336;
}

.radio-group label {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
}

.radio-group.error label{
    color: #F44336;
}